.Main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.Confirmation-title {
    font-size: var(--font-size-md);
    color: var(--color-primary);
    font-family: var(--font-regular);
    margin-bottom: 15px;
    font-weight: bold;
}

.Confirmation-text {
    font-size: var(--font-size-sm);
    color: var(--color-text-dark);
    font-family: var(--font-regular);
    margin-bottom: 20px;
    line-height: 1.4;
}

.Confirmacion-button {
    display: inline-block;
    padding: 10px 20px;
    
    background-color: var(--bg-color-dark);
    color: var(--color-text-light);
    border: none;
    border-radius: 8px;
    font-size: var(--font-size-sm);
    font-family: var(--font-regular);
    transition: background-color 0.3s ease;

    text-decoration: none;
}

.Confirmacion-button:hover {
    background-color: var(--color-emphasis);
    color: var(--color-text-dark);
    font-weight: bold;
    cursor: pointer;
}

/* Responsive para tablet */
@media (min-width: 768px) {
    .Main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width: 1025px) {
    .Main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}