/* CSS para la página general de productos */

.Product {
    padding: 1rem;
    max-width: 1680px;
    /* Limita el ancho en pantallas grandes */
}

/* Contenedor del producto */
.Product-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

/* imágenes del producto */

.Product-img {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.Product-img img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.Product-img-gallery {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.Product-img-gallery img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

/* Información del producto */

.Product-text, .Product-stock-info {
    font-family: var(--font-regular);
    font-size: var(--font-size-sm);
}

.Product-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Product-title {
    font-size: var(--font-size-lg);
    font-family: var(--font-bold);
    color: var(--color-primary);
}

.Product-description {
    font-size: var(--font-size-sm);
    color: var(--color-text-dark);
    font-family: var(--font-regular);
}

.Product-price {
    font-size: var(--font-size-md);
    font-weight: bold;
    font-family: var(--font-bold);
    color: var(--color-text-dark);
}

.Product-sizes label, .Product-quantity label{
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
    font-family: var(--font-regular);
}

.Product-size-select, .Product-quantity-select {
    padding: 0.3rem;
    font-size: var(--font-size-sm);
    font-family: var(--font-regular);
    border-radius: 8px;
    color: var(--color-primary);
    cursor: pointer;
}


.Product-size-select:focus, .Product-quantity-select:focus {
    border-color: var(--color-emphasis);
    outline: none;
}

/* Botón de añadir al carrito */

.Product-button {
    padding: 1rem;
    font-size: var(--font-size-sm);
    font-family: var(--font-medium);
    background-color: var(--bg-color-dark);
    color: var(--color-text-light);
    border: none;
    border-radius: 8px;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.Product-button:hover {
    background-color: var(--color-emphasis);
    color: var(--color-text-dark);
}

/* Productos Relacionados */

.Product-related {
    margin: 50px 0px;
    padding: 1rem;
}


.Related-title {
    font-size: var(--font-size-lg);
    font-family: var(--font-bold);
    color: var(--color-primary);
    margin-bottom: 1rem;
    line-height: 1em;
    text-align: center;
}

.Related-subTitle {
    font-size: var(--font-size-md);
    font-family: var(--font-bold);
    color: var(--color-text-dark);
    text-align: center;
}


.Related-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.Related-items a {
    text-align: center;
    text-decoration: none;
    color: var(--color-text-dark);
    transition: transform 0.3s ease;
}

.Related-items a:hover {
    transform: scale(1.05);
}

.Related-items img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.Related-description {
    font-size: var(--font-size-sm);
    color: var(--color-text-dark);
    font-family: var(--font-regular);
}


/* Tablet */
@media (min-width: 768px) {
    .Product-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 0 2rem;
    }

    .Product-img img {
        width: 400px;
        height: 500px;
    }

    .Product-img-gallery img {
        width: 80px;
        height: 80px;
    }

    .Related-items {
        flex-direction: row;
        gap: 2rem;
        padding: 0 2rem;
        margin: 0 auto;
    }

    .Related-items img {
        max-width: 300px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .Product-container {
        gap: 3rem;
        margin: 0 auto;
        padding: 20px 100px 0px 100px

    }

    .Product-info {
        margin-top: 6rem;
        padding-right: 4rem;
    }

    .Product-img img {
        width: 600px;
        height: 500px;
    }

    .Product-img-gallery img {
        width: 100px;
        height: 100px;
    }

    .Related-items {
        padding: 0 3rem;
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
    }

    .Related-items img {
        max-width: 400px;
    }
}