/* Tabs */

.Tabs-buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.Tabs-button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 8px 8px 0px 0px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s ;

    color: var(--color-text-light);
}

.Tabs-button.u-active {
    background-color: var(--color-emphasis);
    font-weight: bold;

    color: var(--color-text-dark);
}

.Tabs-contenido {
    display: none;
}

.Tabs-contenido.u-visible {
    display: block;
   
}

/* Catálogo de productos */

.Catalog-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 columna en móvil */
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1680px;
}

.Catalog-item {
    padding: 1rem;
    border-radius: 8px;
}

.Catalog-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.Catalog-item img:hover {
    transform: scale(1.05);
    transition: transform 1s ease;
}

.Catalog-description {
    margin-top: 1rem;
}

.Catalog-title {
    font-family: var(--font-regular);
    font-size: var(--font-size-lg);
    color: var(--color-primary);
}

.Catalog-price {
    font-family: var(--font-regular);
    font-size: var(--font-size-md);
    color: var(--color-primary);
    margin: 0.5rem 0;
}

.Catalog-button {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    font-family: var(--font-regular);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;

    transition: background-color 0.3s ease;
}

.Catalog-button:hover {
    background-color: var(--color-emphasis);
    color: var(--color-text-dark);
    
}

/* Responsive desktop */
@media (min-width: 768px) {
    .Catalog-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en escritorio */
        gap: 1rem; 
        padding-top: 5rem; 
        padding-bottom: 5rem;
    }
}
