/* CSS para la página de Tienda */

/* Tabs Prints - Originales */

.Tabs-buttons {
    display: flex;
    justify-content: center;
}

.Tabs-button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: var(--font-size-sm);
    margin: 0 5px;
    transition: background-color 0.3s ;

    color: var(--color-text-light);
}

.Tabs-button.u-active {
    background-color: var(--color-emphasis);
    font-weight: bold;

    color: var(--color-text-dark);
}

.Tabs-contenido {
    display: none;
}

.Tabs-contenido.u-visible {
    display: block;
   
}

/* Catálogo de productos */

.Catalog-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 columna en móvil */
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1680px;
}

.Catalog-item {
    padding: 1rem;
    border-radius: 8px;
}

.Catalog-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;

    /* filtro para blanco y negro */
    filter: grayscale(0%);
    /* transición a color */
    transition: all 0.5s ease;
}

.Catalog-item img:hover {
    /* Al pasar el ratón ponemos el filtro blanco y negro */
    filter: grayscale(100%);
    transform: scale(1.02);
}

.Catalog-description {
    margin-top: 1rem;
}

.Catalog-title {
    font-family: var(--font-bold);
    font-size: var(--font-size-md);
    color: var(--color-primary);
}

.Catalog-price {
    font-family: var(--font-regular);
    font-size: var(--font-size-sm);
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.Catalog-button {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    font-family: var(--font-medium);
    border: none;
    padding: 0.5rem;

    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;

    transition: background-color 0.3s ease;
    text-decoration: none;
}

.Catalog-button:hover {
    background-color: var(--color-emphasis);
    color: var(--color-text-dark);
    
}



/* Tablet */
@media (min-width: 768px) {
    .Catalog-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 2rem;
    }
    
    .Tabs-button {
        font-size: var(--font-size-sm);
        padding: 12px 30px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .Catalog-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 2rem 3rem;
    }
    
    .Catalog-title {
        font-size: var(--font-size-md);
    }
    
    .Catalog-price {
        font-size: var(--font-size-sm);
    }
    
    .Catalog-button {
        padding: 0.75rem 1.5rem;
    }

}